# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Environment
*.local
.env
.env.local
.env.production

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Logs
logs/
*.log
npm-debug.log*

# Test
coverage/

# Wrangler
.wrangler/
.dev.vars
